* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #B9B9A2;
}

.container {
    width: 420px;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen {
    background-color: #E7E5DF;
}

.top-screen {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    width: 400px;
}

.bot-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-screen {
    padding: 15px;
}

.number-operators {
    display: flex;
}

.right-items, .rows {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-items, .right-items {
    width: 100px;
    height: 100px;
}

.left button {
    /* border-style: solid #4E6766;
    border-width: thin; */
    background-color: #1E152A;
    color: #FFF;
    font-size: 40px;
    border-style: none;
}

.right button {
    background-color: #95190C;
    color: #FFF;
    font-size: 35px;
    border-style: none;
}

.left button:hover, .right button:hover {
    background-color: #E7E5DF;
    color: #1E152A;
    /* transition: 0.3s; */
}

.bot-screen button{
    padding: 20px;
    border-style: none;
    background-color: inherit;
    font-size: 20px;
}

.bot-screen button:hover {
    color: #95190C;
}